<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="_template :: head" ></head>

<body>
<div class="content">

	<h2 th:text="#{edit.user}"></h2>

	<form action="/user/update" method="POST" th:object="${user}">
		<input type="hidden" th:field="*{id}" >
		<input 
			type="text" 
			th:placeholder="#{placeholder.name}" 
			th:field="*{name}"
			th:classappend="${#fields.hasErrors('name')} ? invalid" 
		/>
		<span th:errors="*{name}"></span>
		
		<input 
			type="text" 
			th:placeholder="#{placeholder.gitName}" 
			th:field="*{gitName}"
			th:classappend="${#fields.hasErrors('gitName')} ? invalid" 
		/>
		<span th:errors="*{gitName}"></span>
		
		<input 
			type="text" 
			th:placeholder="#{placeholder.email}" 
			th:field="*{email}"
			th:classappend="${#fields.hasErrors('email')} ? invalid" 
		/>
		<span th:errors="*{email}"></span>

		<div class="actions">
			<a href="/user" class="btn" th:text="#{button.cancel}"></a>
			<button class="btn blue" th:text="#{button.save}"></button>
		</div>

	</form>
	
</div>

</body>
</html>